DATABASE_URL="sqlite:///app/data/backend.db"

STATIC_DIR="/app/static"
STORAGE_DIR="/app/storage/disk"
TEMP_DIR="/app/storage/ram"
PLUGINS_DIR="/app/plugins"

SERVER_PORT=8080
SERVER_HOST=0.0.0.0

RUST_LOG=info
JWT_SECRET=your_super_secret_key