.DS_Store
Thumbs.db
*.swp
*.bak
*.tmp

src/backend/target/

build/
.cache/
CMakeFiles/
CMakeCache.txt
*.cmake
Makefile

*.o
*.a
*.so
*.out
*.exe


*.db
*.db-journal
*.db-wal

data/

.env
.env.local
.env.*.local


storage/disk/*
shared_plugins/*
!shared_plugins/.gitkeep

.vscode/
.idea/
*.iml
cmake-build-*/

